<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Skykit Provisioning</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="NG6-Starter by @AngularClass">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <base href="/">
  <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>
<body ng-app="skykitProvisioning" ng-cloak layout="row"
      ng-controller="AppController as appController">

<md-sidenav ng-hide="!appController.getIdentity().email || appController.isCurrentURLDistributorSelector() == true"
            class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-lg')" style="margin-top:-50px;">
  <md-list>
    <md-list-item>
      <span class="md-headline">{{ appController.getIdentity().distributorName }}</span>
    </md-list-item>
    <md-list-item>
      {{ appController.getIdentity().email }}
    </md-list-item>
  </md-list>
  <md-divider></md-divider>
  <md-list>
    <md-list-item>
      <md-button ng-click="appController.goTo('devices')"><i class="fa fa-fw fa-desktop"></i> Devices</md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="appController.goTo('proof')"><i class="fa fa-fw fa-film"></i> Proof of Play
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="appController.goTo('domains')"><i class="fa fa-fw fa-cube"></i> Domains</md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="appController.goTo('tenants')"><i class="fa fa-fw fa-group"></i> Tenants</md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="appController.goTo('welcome')"><i class="fa fa-fw fa fa-play"></i> Home
      </md-button>
    </md-list-item>
    <md-list-item
      ng-if="appController.getIdentity().admin || appController.getIdentity().admin_of_current_distributor">
      <md-button ng-click="appController.goTo('admin')"><i class="fa fa-fw fa fa-lock"></i> Admin
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button ng-click="appController.goTo('sign_out')"><i class="fa fa-fw fa-sign-out"></i> Sign out
      </md-button>
    </md-list-item>
  </md-list>
</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" style="margin-top:-50px">
  <md-toolbar layout="row" class="md-whiteframe-z1">
    <md-button class="menu"
               ng-disabled="!appController.getIdentity().email || appController.isCurrentURLDistributorSelector() == true"
               ng-click="appController.toggleSidenav('left')" hide-gt-lg aria-label="Menu">
      <md-icon md-font-set="material-icons" class="md-light md-48">menu</md-icon>
    </md-button>
    <a class="navbar-brand" href="#/welcome"><img src="assets/images/skykit_logo_high_res.png" class="skykit-image"></a>
    <h3>Provisioning
    </h3>
  </md-toolbar>

  <div flex ui-view></div>

</div>

<!-- Google Analytics: change UA-71073175-2 to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-71073175-2', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
