<md-content class="md-padding" layout="row" layout-wrap layout-align="left start"
            layout-xs="column">
  <div class="properties-word-break" flex="50" flex-sm="50" flex-xs="50" layout="column">
    <md-card>
      <md-card-content>
        <h2>Information</h2>
        <hr/>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.serialNumber == null ||
                                           deviceDetailsCtrl.currentDevice.serialNumber == ''">
          <label>Serial number</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.serialNumber}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.annotatedLocation == null ||
                                           deviceDetailsCtrl.currentDevice.annotatedLocation == ''">
          <label>Annotated location</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.annotatedLocation}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.annotatedUser == null ||
                                           deviceDetailsCtrl.currentDevice.annotatedUser == ''">
          <label>Annotated user</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.annotatedUser}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.apiKey == null ||
                                           deviceDetailsCtrl.currentDevice.apiKey == ''">
          <label>API key</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.apiKey}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.annotatedAssetId == null ||
                                           deviceDetailsCtrl.currentDevice.annotatedAssetId == ''">
          <label>Asset Id</label>
          {{deviceDetailsCtrl.currentDevice.annotatedAssetId}}
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.bootMode == null ||
                                           deviceDetailsCtrl.currentDevice.bootMode == ''">
          <label>Boot mode</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.bootMode}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.chromeDeviceDomain == null ||
                                           deviceDetailsCtrl.currentDevice.chromeDeviceDomain == ''">
          <label>Chrome device domain</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.chromeDeviceDomain}}
          </div>
        </div>

        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.contentManagerDisplayName == null ||
                                           deviceDetailsCtrl.currentDevice.contentManagerDisplayName == ''">
          <label>Content Manager Display Name</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.contentManagerDisplayName}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.annotatedLocation == null ||
                                           deviceDetailsCtrl.currentDevice.annotatedLocation == ''">
          <label>Content Manager Location Description</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.annotatedLocation}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.contentServerUrl == null ||
                                           deviceDetailsCtrl.currentDevice.contentServerUrl == ''">
          <label>Content server URL</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.contentServerUrl}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.created == null ||
                                           deviceDetailsCtrl.currentDevice.created == ''">
          <label>Created timestamp</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.created}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.deviceId == null ||
                                           deviceDetailsCtrl.currentDevice.deviceId == ''">
          <label>Device ID</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.deviceId}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.etag == null ||
                                           deviceDetailsCtrl.currentDevice.etag == ''">
          <label>ETag</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.etag}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.firmwareVersion == null ||
                                           deviceDetailsCtrl.currentDevice.firmwareVersion == ''">
          <label>Firmware version</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.firmwareVersion}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.gcmRegistrationId == null ||
                                           deviceDetailsCtrl.currentDevice.gcmRegistrationId == ''">
          <label>GCM registration ID</label>
          {{deviceDetailsCtrl.currentDevice.gcmRegistrationId}}
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.kind == null ||
                                           deviceDetailsCtrl.currentDevice.kind == ''">
          <label>Kind</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.kind}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.lastEnrollmentTime == null ||
                                           deviceDetailsCtrl.currentDevice.lastEnrollmentTime == ''">
          <label>Last enrollment</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.lastEnrollmentTime}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.lastSync == null ||
                                           deviceDetailsCtrl.currentDevice.lastSync == ''">
          <label>Last sync</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.lastSync}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.logglyLink == null ||
                                           deviceDetailsCtrl.currentDevice.logglyLink == ''">
          <div ng-show="deviceDetailsCtrl.logglyForUser()">
            <label>Loggly</label>
            <div>
              <a ng-href="{{deviceDetailsCtrl.currentDevice.logglyLink}}"
                 class="md-primary md-ink-ripple">
                {{deviceDetailsCtrl.currentDevice.logglyLink}}</a>
            </div>
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.macAddress == null ||
                                           deviceDetailsCtrl.currentDevice.macAddress == ''">
          <label>MAC WiFi</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.macAddress}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.ethernetMacAddress == null ||
                                           deviceDetailsCtrl.currentDevice.ethernetMacAddress == ''">
          <label>Ethernet MAC</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.ethernetMacAddress}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.model == null ||
                                           deviceDetailsCtrl.currentDevice.model == ''">
          <label>Model</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.model}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.osVersion == null ||
                                           deviceDetailsCtrl.currentDevice.osVersion == ''">
          <label>OS version</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.osVersion}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.orgUnitPath == null ||
                                           deviceDetailsCtrl.currentDevice.orgUnitPath == ''">
          <label>OU path</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.orgUnitPath}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.platformVersion == null ||
                                           deviceDetailsCtrl.currentDevice.platformVersion == ''">
          <label>Platform version</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.platformVersion}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.playlist == null ||
                                           deviceDetailsCtrl.currentDevice.playlist == ''">
          <label>Playlist / Playlist Id</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.playlist}} / {{deviceDetailsCtrl.currentDevice.playlistId}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.program == null ||
                                           deviceDetailsCtrl.currentDevice.program == ''">
          <label>Program / Program Id</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.program}} / {{deviceDetailsCtrl.currentDevice.programId}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.registrationCorrelationIdentifier == null ||
                                           deviceDetailsCtrl.currentDevice.registrationCorrelationIdentifier == ''">
          <label>Registration correlation identifier</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.registrationCorrelationIdentifier}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.status == null ||
                                           deviceDetailsCtrl.currentDevice.status == ''">
          <label>Status</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.status}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.tenantCode == null ||
                                           deviceDetailsCtrl.currentDevice.tenantCode == ''">
          <label>Tenant code</label>
          <div>
            <a href="{{deviceDetailsCtrl.tenantUrl}}">
              {{deviceDetailsCtrl.currentDevice.tenantCode}}
            </a>
          </div>
        </div>
        <div class="form-group">
          <label>Overlays Available</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.overlayStatus}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.timezone == null ||
                                           deviceDetailsCtrl.currentDevice.timezone == ''">
          <label>Timezone</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.timezone}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.isUnmanagedDevice == null ||
                                           deviceDetailsCtrl.currentDevice.isUnmanagedDevice == ''">
          <label>Unmanaged</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.isUnmanagedDevice}}
          </div>
        </div>
        <div class="form-group"
             ng-hide="deviceDetailsCtrl.currentDevice.updated == null ||
                                           deviceDetailsCtrl.currentDevice.updated == ''">

          <label>Updated timestamp</label>
          <div>
            {{deviceDetailsCtrl.currentDevice.updated}}
          </div>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <h2>Delete</h2>
        <hr/>
        <div class="form-group">
          <label>Device key</label>
          {{deviceDetailsCtrl.currentDevice.key}}
          <md-card-actions layout="row" layout-align="end center">
            <button class="md-raised md-primary md-button md-ink-ripple" type="button"
                    aria-label="Delete" layout-align="right" ng-click="deviceDetailsCtrl.confirmDeviceDelete(
                              $event, deviceDetailsCtrl.currentDevice.key)">
              <i class="fa fa-fw fa-trash ng-scope"></i><span class="ng-scope">
                        Delete
                      </span></button>
          </md-card-actions>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div flex="50" flex-sm="50" flex-xs="50" layout="column">
    <md-card>
      <md-card-content>
        <h2>Edit</h2>
        <hr/>
        <form name="deviceForm" class="form-horizontal"
              ng-submit="deviceDetailsCtrl.onSaveDevice()"
              novalidate>
          <section name="proofOfPlay" ng-show="deviceDetailsCtrl.currentDevice.proofOfPlayEditable">
            <h3>Proof of play</h3>
            <div class="form-group">
              <div class="col-sm-2">
                <label>Logging</label>
                <div>
                  <input type="checkbox"
                         id="proofOfPlayLogging"
                         tooltips
                         tooltip-class="tooltip-custom-large"
                         tooltip-side="left"
                         tooltip-template-url="webapp/src/app/tooltip/proof-of-play-toggle.html"
                         ng-model="deviceDetailsCtrl.currentDevice.proofOfPlayLogging"
                         ng-change="deviceDetailsCtrl.onProofOfPlayLoggingCheck()">
                  <label for="proofOfPlayLogging">Enable</label>
                </div>
              </div>
            </div>
            <hr>
          </section>
          <section name="location">
            <h3>Location</h3>
            <div class="form-group">
              <div class="col-sm-5">
                <label>Panel location</label>
                <select
                  class="form-control"
                  ng-model="deviceDetailsCtrl.currentDevice.location"
                  ng-options="i.customerLocationName for i in deviceDetailsCtrl.locations track by i.key"
                  ng-change="deviceDetailsCtrl.onSaveDevice()">
                </select>
              </div>
            </div>
            <hr>
          </section>
          <section name="displayCode">
            <h3>Display code</h3>
            <div class="form-group">
              <div class="col-sm-6">
                <label>Customer display name</label>
                <div>
                  <input type="text"
                         class="form-control"
                         autofocus
                         name="customerDisplayName"
                         placeholder="e.g., Panel in Front Reception"
                         ng-change="deviceDetailsCtrl.autoGenerateCustomerDisplayCode()"
                         ng-model="deviceDetailsCtrl.currentDevice.customerDisplayName">
                </div>
              </div>
              <!--<div class="col-sm-6"-->
              <!--ng-class="{ 'has-error' : deviceForm.customerDisplayCode.$invalid && !deviceForm.customerDisplayCode.$pristine }">-->
              <!--<label>Customer display code</label>-->
              <!--<div>-->
              <!--<input type="text"-->
              <!--class="form-control"-->
              <!--name="customerDisplayCode"-->
              <!--placeholder="auto-generated"-->
              <!--ng-model="deviceDetailsCtrl.currentDevice.customerDisplayCode"-->
              <!--ng-pattern="/^[a-z0-9_]*$/">-->
              <!--<p-->
              <!--ng-show="deviceForm.customerDisplayCode.$invalid && !deviceForm.customerDisplayCode.$invalid.$pristine"-->
              <!--class="help-block">-->
              <!--Alphanumeric and underscore allowed.-->
              <!--</p>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <hr>
          </section>
          <section name="serialControl">
            <h3>Panel controls</h3>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-3">
                  <label>Panel model</label>
                  <select
                    id="panelModel"
                    class="form-control"
                    ng-model="deviceDetailsCtrl.currentDevice.panelModel"
                    ng-change="deviceDetailsCtrl.onSaveDevice()"
                    ng-options="p.displayName for p in deviceDetailsCtrl.panelModels track by p.id">
                  </select>
                </div>
                <div class="col-sm-3">
                  <label>Panel input</label>
                  <select
                    id="panelInput"
                    class="form-control"
                    ng-required="deviceDetailsCtrl.currentDevice.panelModel !== null"
                    ng-model="deviceDetailsCtrl.currentDevice.panelInput"
                    ng-options="c.id for c in deviceDetailsCtrl.panelInputs | filter:{parentId: deviceDetailsCtrl.currentDevice.panelModel.id}">
                  </select>
                </div>


                <div class="col-sm-3">
                  <label>Controls Mode</label>
                  <select
                    id="panelInput"
                    class="form-control"
                    ng-required="deviceDetailsCtrl.currentDevice.controlsMode !== null"
                    ng-model="deviceDetailsCtrl.currentDevice.controlsMode"
                    ng-change="deviceDetailsCtrl.adjustControlsMode()"
                    ng-options="choice for choice in deviceDetailsCtrl.controlsModeOptions">
                  </select>
                </div>

                <div class="col-sm-3">
                  <label style="white-space: nowrap">Panel Orientation</label>
                  <select
                    id="panelOrientation"
                    class="form-control"
                    ng-required="deviceDetailsCtrl.currentDevice.orientationMode !== null"
                    ng-model="deviceDetailsCtrl.currentDevice.orientationMode"
                    ng-change="deviceDetailsCtrl.onSaveDevice()"
                    ng-options="choice for choice in deviceDetailsCtrl.orientationOptions">
                  </select>
                </div>

              </div>

              <div class="col-md-12">


                <br/>
                <div class="col-sm-3">
                  <label>Panel sleep</label>
                  <md-switch class="md-switch"
                             ng-model="deviceDetailsCtrl.currentDevice.panelSleep"
                             ng-change="deviceDetailsCtrl.onPanelSleep(deviceDetailsCtrl.currentDevice.panelSleep)"
                             aria-label="Panel Sleep">
                  </md-switch>
                </div>

                <div class="col-sm-3"
                     ng-if="deviceDetailsCtrl.currentDevice.panelSleep && (deviceDetailsCtrl.currentDevice.panelModel && deviceDetailsCtrl.currentDevice.panelModel.id !== 'None')">
                  <label style="white-space: nowrap">Sleep Controller Option</label>
                  <select
                    id="sleepControlInput"
                    class="form-control"
                    ng-required="deviceDetailsCtrl.currentDevice.sleepController !== null"
                    ng-model="deviceDetailsCtrl.currentDevice.sleepController"
                    ng-change="deviceDetailsCtrl.onSaveDevice()"
                    ng-options="choice for choice in deviceDetailsCtrl.sleepControllerOptions">
                  </select>
                </div>
              </div>
            </div>
            <hr>
          </section>
          <section name="timezone">
            <h3>Timezone</h3>
            <div class="form-group"
                 ng-class="{ 'has-error' : deviceForm.timezone.$invalid && !deviceForm.timezone.$pristine }">
              <div class="col-sm-4">
                <br>
                <select id="timezone"
                        ng-model="deviceDetailsCtrl.selectedTimezone"
                        class="form-control"
                        ng-options="item for item in deviceDetailsCtrl.timezones track by item">
                  <option value=''>Select timezone</option>
                </select>
              </div>
            </div>
            <hr>
          </section>
          <section name="intervals">
            <h3>Intervals</h3>
            <div class="form-group">
              <div class="col-sm-4">
                <label>Check content</label>
                <input type="number"
                       class="form-control"
                       name="checkContentInterval"
                       id="checkContentInterval"
                       ng-model="deviceDetailsCtrl.currentDevice.checkContentInterval"
                       min="0"
                       ng-required="true">minutes
              </div>
              <div class="col-sm-4">
                <label>Player heartbeat</label>
                <br>
                {{deviceDetailsCtrl.currentDevice.heartbeatInterval}} minutes
              </div>
            </div>
            <hr>
          </section>
          <section name="notes">
            <h3>Notes</h3>
            <div class="form-group">
              <div class="col-sm-12">
                <div>
                  <input type="text"
                         class="form-control"
                         name="notes"
                         ng-model="deviceDetailsCtrl.currentDevice.notes">
                </div>
              </div>
            </div>
            <hr>
          </section>
          <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit"
                       class="md-raised md-primary"
                       ng-disabled="deviceForm.$pristine || deviceForm.$invalid">
              <i class="fa fa-fw fa-save"></i>
              Save
            </md-button>
          </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
    <div ng-include="'webapp/src/app/device/device-properties-overlay.html'"></div>

  </div>
</md-content>

