<md-card>
  <md-card-content>
    <form name="overlayForm" class="form-horizontal"
          novalidate>
      <section name="overlay">
        <div class="row">
          <div class="col-md-12">
            <h3>Overlays</h3>
            <hr/>
            <div class="row">
              <div class="col-md-8 col-md-offset-2" style="margin-top: -1.5em">
                <md-input-container>
                  <button type="submit"
                             tooltips
                             tooltip-side="left"
                             tooltip-template="Revert your Device Overlay to your Tenant Overlay Configuration."
                             class="md-button md-raised"
                             ng-click="deviceDetailsCtrl.revertToTenantOverlay($event)"
                             ng-disabled="vm.overlayChanged || vm.loading">

                    REVERT
                  </button>
                  <md-button
                    class="md-raised md-primary"
                    ng-disabled="deviceDetailsCtrl.currentDevice.overlayStatus"
                    ng-click="deviceDetailsCtrl.adjustOverlayStatus(true)">
                    ENABLE
                  </md-button>
                  <md-button
                    class="md-raised md-primary"
                    ng-disabled="!deviceDetailsCtrl.currentDevice.overlayStatus"
                    ng-click="deviceDetailsCtrl.adjustOverlayStatus(false)">
                    DISABLE
                  </md-button>
                </md-input-container>
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div ng-if="deviceDetailsCtrl.loadingOverlays">
          <div layout="row" layout-sm="column" layout-align="space-around" style="margin-bottom: 12em;">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>

        <div class="form-group"
             ng-if="deviceDetailsCtrl.currentDevice.overlayStatus && !deviceDetailsCtrl.loadingOverlays">
          <div class="col-md-12">
            <div class="col-md-5 col-sm-12">
              <md-input-container>
                <label>Top-Left</label>
                <md-select md-on-close="deviceDetailsCtrl.checkForOverlayChanges()"
                           ng-model="deviceDetailsCtrl.currentDeviceCopy.overlays.top_left">
                  <md-option ng-repeat="overlay in deviceDetailsCtrl.OVERLAY_TYPES"
                             ng-value="overlay"
                             ng-selected="
                             (overlay.realName === deviceDetailsCtrl.currentDevice.overlays.top_left.name)
                              &&
                             (overlay.size === deviceDetailsCtrl.currentDevice.overlays.top_left.size)
                              ? 'selected' : ''"
                  >
                    {{overlay.name.toUpperCase() + ((overlay.size && overlay.name.toUpperCase() !== "NONE") ? " (" +
                    overlay.size.toUpperCase() + ")" : '') }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="col-md-5   col-sm-12" style="float: right">
              <md-input-container>
                <label>Top-Right</label>
                <md-select md-on-close="deviceDetailsCtrl.checkForOverlayChanges()"
                           ng-model="deviceDetailsCtrl.currentDeviceCopy.overlays.top_right">
                  <md-option ng-repeat="overlay in deviceDetailsCtrl.OVERLAY_TYPES"
                             ng-value="overlay"
                             ng-selected="
                             (overlay.realName === deviceDetailsCtrl.currentDevice.overlays.top_right.name)
                              &&
                             (overlay.size  === deviceDetailsCtrl.currentDevice.overlays.top_right.size)
                              ? 'selected' : ''"
                  >
                    {{overlay.name.toUpperCase() + ((overlay.size && overlay.name.toUpperCase() !== "NONE") ? " (" +
                    overlay.size.toUpperCase() + ")" : '') }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-5  col-sm-12">
              <md-input-container>
                <label>Bottom-Left</label>
                <md-select md-on-close="deviceDetailsCtrl.checkForOverlayChanges()"
                           ng-model="deviceDetailsCtrl.currentDeviceCopy.overlays.bottom_left">
                  <md-option ng-repeat="overlay in deviceDetailsCtrl.OVERLAY_TYPES"
                             ng-value="overlay"
                             ng-selected="
                             (overlay.realName === deviceDetailsCtrl.currentDevice.overlays.bottom_left.name)
                              &&
                             (overlay.size === deviceDetailsCtrl.currentDevice.overlays.bottom_left.size)
                              ? 'selected' : ''"
                  >
                    {{overlay.name.toUpperCase() + ((overlay.size && overlay.name.toUpperCase() !== "NONE") ? " (" +
                    overlay.size.toUpperCase() + ")" : '') }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="col-md-5  col-sm-12" style="float: right">
              <md-input-container>
                <label>Bottom-Right</label>
                <md-select md-on-close="deviceDetailsCtrl.checkForOverlayChanges()"
                           ng-model="deviceDetailsCtrl.currentDeviceCopy.overlays.bottom_right">
                  <md-option ng-repeat="overlay in deviceDetailsCtrl.OVERLAY_TYPES"
                             ng-value="overlay"
                             ng-selected="
                             (overlay.realName === deviceDetailsCtrl.currentDevice.overlays.bottom_right.name)
                              &&
                             (overlay.size === deviceDetailsCtrl.currentDevice.overlays.bottom_right.size)
                              ? 'selected' : ''"
                  >
                    {{overlay.name.toUpperCase() + ((overlay.size && overlay.name.toUpperCase() !== "NONE") ? " (" +
                    overlay.size.toUpperCase() + ")" : '') }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div class="col-md-12">
            <md-card-actions layout="row" layout-align="end center">
              <md-button type="submit"
                         class="md-raised md-primary"
                         ng-click="deviceDetailsCtrl.submitOverlaySettings(overlayForm)"
                         ng-disabled="!deviceDetailsCtrl.overlayChanged || overlayForm.$invalid">
                <i class="fa fa-fw fa-save"></i>
                SYNC
              </md-button>
            </md-card-actions>
          </div>
        </div>
      </section>
    </form>
  </md-card-content>
</md-card>
