<md-card>
  <md-card-content>
    <form class="form-horizontal"
          novalidate>
      <section name="logo">
        <h3>Logo Upload</h3>
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <lf-ng-md-file-input lf-files="deviceDetailsCtrl.selectedLogo" lf-api="deviceDetailsCtrl.fileApi"
                                 accept="image/svg+xml"></lf-ng-md-file-input>

            <md-button class="md-raised md-primary" ng-click="deviceDetailsCtrl.submitImage()"
                       style="float: right;" ng-disabled="!deviceDetailsCtrl.selectedLogo[0]">
              UPLOAD
            </md-button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6" ng-repeat="tenantImage in deviceDetailsCtrl.tenantImages">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <p style="display:block;
    margin:auto; margin-top:-8px">{{tenantImage.name}}</p>
                </md-card-title-text>
                <md-button ng-click="deviceDetailsCtrl.deleteImage(tenantImage.key) " class="small-delete-button">X
                </md-button>
              </md-card-title>
              <md-card-content layout="row" layout-align="space-between">
                <img style="height: 70px; width: auto; max-width:150;  display:block;
    margin:auto; margin-bottom: 25px" ng-src="{{tenantImage.filepath}}" class="md-card-image"
                     alt="Washed Out">

              </md-card-content>
            </md-card>
          </div>
        </div>
      </section>
    </form>
  </md-card-content>
</md-card>
