<div ng-init="vm.initialize()">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><i class="fa fa-fw fa-lock ng-scope"></i> Admin </h2>
    </div>
  </md-toolbar>
  <md-content>
    <div flex="100" flex-sm="100" flex-xs="100">
      <div ng-if="!vm.isAdmin" ng-include="'webapp/src/app/admin/create-user.html'"></div>
      <md-tabs md-dynamic-height md-border-bottom ng-if="vm.isAdmin">
        <div class="container">
          <md-tab label="Create User">
            <div ng-include="'webapp/src/app/admin/create-user.html'"></div>
          </md-tab>
          <md-tab label="Create Reseller" layout-align="center center" ng-if="vm.isAdmin">
            <div ng-include="'webapp/src/app/admin/create-distributor.html'"></div>
          </md-tab>
           <md-tab label="Search" layout-align="center center" ng-if="vm.isAdmin">
            <div ng-include="'webapp/src/app/admin/search.html'"></div>
          </md-tab>
        </div>
      </md-tabs>
    </div>
  </md-content>
</div>
