<div id="wrapper" ng-init="distributorSelectorCtrl.initialize()">

  <div ng-include="'app/components/navbar/no-navbar.html'"></div>

  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Select your distributor
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="distributor-selection"
               ng-repeat="distributor in distributorSelectorCtrl.distributors"
               ng-click="distributorSelectorCtrl.selectDistributor();">
            {{ distributor.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
