<div id="wrapper" ng-init="tenantDetailsCtrl.initialize()">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div id="page-wrapper">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12">
          <div ncy-breadcrumb></div>
        </div>
      </div>

      <div>
        <tabset>
          <tab heading="General">
            <div style="margin-top: 1px;">&nbsp;</div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> {{ tenantDetailsCtrl.currentTenant.name }}</h4>
              </div>
              <div class="panel-body">
                <form name="tenantForm"
                      class="form-horizontal"
                      ng-submit="tenantDetailsCtrl.onClickSaveButton()"
                      novalidate>
                  <div class="form-group">
                    <label for="key" class="col-sm-3 control-label">Entity key</label>

                    <div class="col-sm-9">
                      <input type="text"
                             class="form-control"
                             style="font-size: 0.8em;"
                             name="key"
                             id="key"
                             readonly
                             ng-model="tenantDetailsCtrl.currentTenant.key">
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.name.$invalid && !tenantForm.name.$pristine }">
                    <label for="name" class="col-sm-3 control-label">Name</label>

                    <div class="col-sm-4">
                      <input type="text"
                             class="form-control"
                             name="name"
                             id="name"
                             required
                             placeholder="Enter tenant name"
                             ng-model="tenantDetailsCtrl.currentTenant.name"
                             ng-change="tenantDetailsCtrl.autoGenerateTenantCode()"
                             autofocus>
                    </div>
                    <div class="col-sm-5">
                      <p ng-show="tenantForm.name.$invalid && !tenantForm.name.$pristine"
                         class="help-block">
                        The tenant name is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.tenantCode.$invalid && !tenantForm.tenantCode.$pristine }">
                    <label for="tenantCode" class="col-sm-3 control-label">Tenant
                      code</label>

                    <div class="col-sm-4">
                      <input type="text"
                             class="form-control"
                             name="tenantCode"
                             id="tenantCode"
                             required
                             placeholder="Enter tenant code (must match tenant code in Google Device Management)"
                             ng-model="tenantDetailsCtrl.currentTenant.tenant_code">
                    </div>
                    <div class="col-sm-5">
                      <p ng-show="tenantForm.tenantCode.$invalid && !tenantForm.tenantCode.$pristine"
                         class="help-block">
                        The tenant lookup code is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.adminEmail.$invalid && !tenantForm.adminEmail.$pristine }">
                    <label for="adminEmail" class="col-sm-3 control-label">Admin email
                      address</label>

                    <div class="col-sm-4">
                      <input type="text"
                             required
                             class="form-control"
                             name="adminEmail"
                             id="adminEmail"
                             placeholder="Enter admin email"
                             ng-model="tenantDetailsCtrl.currentTenant.admin_email">
                    </div>
                    <div class="col-sm-5">
                      <p ng-show="tenantForm.adminEmail.$invalid && !tenantForm.adminEmail.$pristine"
                         class="help-block">
                        The tenant admin email address is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.chromeDeviceDomain.$invalid && !tenantForm.chromeDeviceDomain.$pristine }">
                    <label for="chromeDeviceDomain" class="col-sm-3 control-label">Device domain</label>

                    <div class="col-sm-4">
                      <select id="chromeDeviceDomain"
                              ng-model="tenantDetailsCtrl.selectedDomain"
                              class="form-control"
                              ng-options="i.name for i in tenantDetailsCtrl.distributorDomains track by i.key">
                        <option value=''>Select domain</option>
                      </select>
                    </div>
                    <div class="col-sm-5">
                      <p ng-show="tenantForm.chromeDeviceDomain.$invalid && !tenantForm.chromeDeviceDomain.$pristine"
                         class="help-block">
                        The Device domain is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.contentManagerBaseUrl.$invalid && !tenantForm.contentManagerBaseUrl.$pristine }">
                    <label for="contentManagerBaseUrl" class="col-sm-3 control-label">
                      Content manager base URL
                    </label>

                    <div class="col-sm-4">
                      <input type="url"
                             required
                             class="form-control"
                             name="contentManagerBaseUrl"
                             id="contentManagerBaseUrl"
                             placeholder="Enter content manager base URL"
                             ng-model="tenantDetailsCtrl.currentTenant.content_manager_base_url"
                             ng-pattern="/^https:\/\/\S+$/">
                    </div>
                    <div class="col-sm-5">
                      <p
                        ng-show="tenantForm.contentManagerBaseUrl.$invalid && !tenantForm.contentManagerBaseUrl.$pristine"
                        class="help-block">
                        The content manager base URL is required to be a secure URL.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.contentServerUrl.$invalid && !tenantForm.contentServerUrl.$pristine }">
                    <label for="contentServerUrl" class="col-sm-3 control-label">Content
                      server URL</label>

                    <div class="col-sm-4">
                      <input type="url"
                             required
                             class="form-control"
                             name="contentServerUrl"
                             id="contentServerUrl"
                             placeholder="Enter content server URL"
                             ng-model="tenantDetailsCtrl.currentTenant.content_server_url"
                             ng-pattern="/^https:\/\/\S+$/">
                    </div>
                    <div class="col-sm-5">
                      <p ng-show="tenantForm.contentServerUrl.$invalid && !tenantForm.contentServerUrl.$pristine"
                         class="help-block">
                        The content server URL is required to be a secure URL.
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <input type="checkbox"
                             id="active"
                             ng-model="tenantDetailsCtrl.currentTenant.active"> <label
                      for="active">Active</label>
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit"
                              class="btn btn-primary btn-default"
                              ng-disabled="tenantForm.$invalid">
                        <i class="fa fa-fw fa-save"></i> Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- END panel -->
          </tab>
          <tab heading="Linked displays">
            <div style="margin-top: 1px;">&nbsp;</div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{tenantDetailsCtrl.currentTenant.name}}</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered table-condensed table-responsive table-striped">
                  <thead>
                  <tr>
                    <th>Serial number</th>
                    <th>Device ID</th>
                    <th>Wifi mac address</th>
                    <th>Ether mac address</th>
                    <th>Notes</th>
                    <th>Provisioned date</th>
                    <th class="text-center">Status</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-hide="tenantDetailsCtrl.currentTenantDisplays.length">
                    <td colspan="8" class="text-center text-danger">No displays</td>
                  </tr>
                  <tr ng-repeat="item in tenantDetailsCtrl.currentTenantDisplays | orderBy:'-created' ">
                    <td class="tenant-display-serial-number">
                      <a name="edit-device" class="btn" ng-click="tenantDetailsCtrl.editItem(item)"
                         title="Device detail">{{item.serialNumber}}</a>
                    </td>
                    <td class="tenant-display-id">
                      {{ item.deviceId }}
                    </td>
                    <td class="tenant-display-mac-address">
                      {{ item.macAddress }}
                    </td>
                    <td class="tenant-display-ethernet-mac-address">
                      {{ item.ethernetMacAddress }}
                    </td>
                    <td class="tenant-display-notes">
                      {{ item.notes }}
                    </td>
                    <td class="tenant-display-provisioning-date">
                      {{ item.created }}
                    </td>
                    <td class="display-up text-center">
                      <i class="fa fa-fw fa-tv" ng-style="item.up === true ? { color:'green' } : { color:'red' }"></i></td>
                    <td class="text-center">
                      <a name="edit-device" class="btn" ng-click="tenantDetailsCtrl.editItem(item)"
                         title="Device detail"><i class="fa fa-fw fa-edit"></i></a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END panel -->
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
