<div id="wrapper">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div id="page-wrapper">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12">
          <div ncy-breadcrumb></div>
          <h1 class="page-header">
            {{ tenantDetailsCtrl.currentTenant.name }}
          </h1>
        </div>
      </div>

      <div>
        <tabset>
          <tab heading="General">
            <div style="margin-top: 1px;">&nbsp;</div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Tenant properties</h3>
              </div>
              <div class="panel-body">
                <form name="tenantForm"
                      class="form-horizontal"
                      ng-submit="tenantDetailsCtrl.onClickSaveButton()"
                      novalidate>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.name.$invalid && !tenantForm.name.$pristine }">
                    <label for="name" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-4">
                      <input type="text"
                             class="form-control"
                             name="name"
                             id="name"
                             required
                             placeholder="Enter tenant name"
                             ng-model="tenantDetailsCtrl.currentTenant.name"
                             ng-change="tenantDetailsCtrl.autoGenerateTenantCode()"
                             autofocus>
                    </div>
                    <div class="col-sm-6">
                      <p ng-show="tenantForm.name.$invalid && !tenantForm.name.$pristine"
                         class="help-block">
                        The tenant name is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.tenantCode.$invalid && !tenantForm.tenantCode.$pristine }">
                    <label for="tenantCode" class="col-sm-2 control-label">Tenant
                      code</label>

                    <div class="col-sm-4">
                      <input type="text"
                             class="form-control"
                             name="tenantCode"
                             id="tenantCode"
                             required
                             placeholder="Enter tenant code (must match tenant code in Google Device Management)"
                             ng-model="tenantDetailsCtrl.currentTenant.tenant_code">
                    </div>
                    <div class="col-sm-6">
                      <p ng-show="tenantForm.tenantCode.$invalid && !tenantForm.tenantCode.$pristine"
                         class="help-block">
                        The tenant lookup code is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.adminEmail.$invalid && !tenantForm.adminEmail.$pristine }">
                    <label for="adminEmail" class="col-sm-2 control-label">Admin email
                      address</label>

                    <div class="col-sm-4">
                      <input type="text"
                             required
                             class="form-control"
                             name="adminEmail"
                             id="adminEmail"
                             placeholder="Enter admin email"
                             ng-model="tenantDetailsCtrl.currentTenant.admin_email">
                    </div>
                    <div class="col-sm-6">
                      <p ng-show="tenantForm.adminEmail.$invalid && !tenantForm.adminEmail.$pristine"
                         class="help-block">
                        The tenant admin email address is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.chromeDeviceDomain.$invalid && !tenantForm.chromeDeviceDomain.$pristine }">
                    <label for="chromeDeviceDomain" class="col-sm-2 control-label">Chrome
                      device domain</label>

                    <div class="col-sm-4">
                      <input type="text"
                             required
                             class="form-control"
                             name="chromeDeviceDomain"
                             id="chromeDeviceDomain"
                             placeholder="Enter Chrome device domain"
                             ng-model="tenantDetailsCtrl.currentTenant.chrome_device_domain">
                    </div>
                    <div class="col-sm-6">
                      <p ng-show="tenantForm.chromeDeviceDomain.$invalid && !tenantForm.chromeDeviceDomain.$pristine"
                         class="help-block">
                        The Chrome device domain is required.
                      </p>
                    </div>
                  </div>
                  <div class="form-group"
                       ng-class="{ 'has-error' : tenantForm.contentServerUrl.$invalid && !tenantForm.contentServerUrl.$pristine }">
                    <label for="contentServerUrl" class="col-sm-2 control-label">Content
                      server URL</label>

                    <div class="col-sm-4">
                      <input type="url"
                             required
                             class="form-control"
                             name="contentServerUrl"
                             id="contentServerUrl"
                             placeholder="Enter content server URL"
                             ng-model="tenantDetailsCtrl.currentTenant.content_server_url"
                             ng-pattern="/^https:\/\/\S+$/">
                    </div>
                    <div class="col-sm-6">
                      <p ng-show="tenantForm.contentServerUrl.$invalid && !tenantForm.contentServerUrl.$pristine"
                         class="help-block">
                        The content server URL is required to be a secure URL.
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                      <input type="checkbox"
                             id="active"
                             ng-model="tenantDetailsCtrl.currentTenant.active"> <label
                      for="active">Active</label>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit"
                              class="btn btn-primary btn-default"
                              ng-disabled="tenantForm.$invalid">
                        <i class="fa fa-fw fa-save"></i> Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- END panel -->
          </tab>
          <tab heading="Linked devices">
            <div style="margin-top: 1px;">&nbsp;</div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Devices</h3>
              </div>
              <div class="panel-body">
                <table name="tenant-devices-table"
                       class="table table-bordered table-condensed table-responsive table-striped">
                  <thead>
                  <tr>
                    <th>Key</th>
                    <th>Device ID</th>
                    <th>MAC address</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-hide="tenantDetailsCtrl.currentTenantDevices.length">
                    <td name="no-tenants" colspan="3" class="text-center text-danger">No devices</td>
                  </tr>
                  <tr ng-repeat="device in tenantDetailsCtrl.currentTenantDevices | orderBy:'-created' ">
                    <td class="tenant-device-key">
                      <a href="#/devices/{{ device.key }}">
                                          <span class="entity-key">
                                            {{ device.key | limitTo: 10 }}...{{ device.key | limitTo: 10 : device.key.length - 10}}
                                          </span>
                      </a>
                    </td>
                    <td class="tenant-device-id">
                      {{ device.device_id }}
                    </td>
                    <td class="tenant-device-mac-address">
                      {{ device.mac_address }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END panel -->
          </tab>
          <tab heading="Linked displays">
            <div style="margin-top: 1px;">&nbsp;</div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Displays</h3>
              </div>
              <div class="panel-body">
                <table name="tenant-displays-table"
                       class="table table-bordered table-condensed table-responsive table-striped">
                  <thead>
                  <tr>
                    <th>Key</th>
                    <th>Status</th>
                    <th>MAC address</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-hide="tenantDetailsCtrl.currentTenantDisplays.length">
                    <td name="no-tenants" colspan="3" class="text-center text-danger">No displays</td>
                  </tr>
                  <tr ng-repeat="display in tenantDetailsCtrl.currentTenantDisplays | orderBy:'-created' ">
                    <td class="tenant-display-key">
                      <a href="#/display/{{ display.key }}">
                                          <span class="entity-key">
                                            {{ display.key | limitTo: 10 }}...{{ display.key | limitTo: 10 : display.key.length - 10}}
                                          </span>
                      </a>
                    </td>
                    <td class="tenant-display-status">
                      {{ display.status }}
                    </td>
                    <td class="tenant-display-mac-address">
                      {{ display.mac_address }}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END panel -->
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
