<div ng-controller="TenantAddCtrl" ng-init="tenantAddCtrl.initialize()" layout="column" ng-cloak>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><i class="fa fa-fw fa-group ng-scope"></i> Tenant</h2>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <div flex="80" flex-xs="100" layout="column">
      <div ncy-breadcrumb></div>
    </div>
    <div flex="75" flex-sm="50" flex-xs="30" layout="column">
      <md-card>
        <md-card-content>
          <form name="tenantForm" class="form-horizontal" ng-submit="tenantAddCtrl.onClickSaveButton()"
                novalidate>
            <div class="form-group"
                 ng-class="{ 'has-error' : tenantForm.name.$invalid && !tenantForm.name.$pristine }">
              <div class="col-sm-4">
                <label>Name</label>
                <input type="text"
                       class="form-control"
                       autofocus
                       name="name"
                       placeholder="Enter a name"
                       ng-change="tenantAddCtrl.autoGenerateTenantCode()"
                       ng-model="tenantAddCtrl.currentTenant.name" required>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : tenantForm.tenantCode.$invalid && !tenantForm.tenantCode.$pristine }">
              <div class="col-sm-4">
                <label>Code</label>
                <input type="text"
                       class="form-control"
                       name="tenantCode"
                       placeholder="Code in Google Device Management"
                       ng-model="tenantAddCtrl.currentTenant.tenant_code" required
                       ng-pattern="/^[a-z0-9_]*$/">
              </div>
              <div class="col-sm-5 margin-top-15">
                <p
                  ng-show="tenantForm.tenantCode.$invalid && !tenantForm.tenantCode.$pristine"
                  class="help-block">
                  Alphanumeric and underscore are allowed.
                </p>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : tenantForm.chromeDeviceDomain.$invalid && !tenantForm.chromeDeviceDomain.$pristine }">
              <div class="col-sm-4">
                <label>Domain</label>
                <select id="chromeDeviceDomain"
                        ng-model="tenantAddCtrl.selectedDomain"
                        class="form-control"
                        ng-options="i.name for i in tenantAddCtrl.distributorDomains track by i.key" required>
                  <option value=''>Select domain</option>
                </select>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : tenantForm.adminEmail.$invalid && !tenantForm.adminEmail.$pristine }">
              <div class="col-sm-4">
                <label>Admin email</label>
                <input type="email"
                       required
                       class="form-control"
                       name="adminEmail"
                       id="adminEmail"
                       placeholder="Enter a valid admin email"
                       ng-model="tenantAddCtrl.currentTenant.admin_email">
              </div>
              <div class="col-sm-5 margin-top-15">
                <p
                  ng-show="tenantForm.adminEmail.$invalid && !tenantForm.adminEmail.$pristine"
                  class="help-block">
                  A valid admin email is required.
                </p>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : tenantForm.contentManagerUrl.$invalid &&
                       !tenantForm.contentManagerUrl.$pristine }">
              <div class="col-sm-5">
                <label>Content manager URL</label>
                <input type="url"
                       required
                       class="form-control"
                       name="contentManagerUrl"
                       id="contentManagerUrl"
                       placeholder="Enter content server URL"
                       ng-model="tenantAddCtrl.currentTenant.content_manager_base_url"
                       ng-pattern="/^https:\/\/\S+$/">
              </div>
              <div class="col-sm-5 margin-top-15">
                <p ng-show="tenantForm.contentManagerUrl.$invalid && !tenantForm.contentManagerUrl.$pristine"
                   class="help-block">
                  Content manager URL must be a secure https URL.
                </p>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : tenantForm.playerContentUrl.$invalid &&
                       !tenantForm.playerContentUrl.$pristine }">
              <div class="col-sm-5">
                <label>Player content URL</label>
                <input type="url"
                       required
                       class="form-control"
                       name="playerContentUrl"
                       id="playerContentUrl"
                       placeholder="Enter content server URL"
                       ng-model="tenantAddCtrl.currentTenant.content_server_url"
                       ng-pattern="/^https:\/\/\S+$/">
              </div>
              <div class="col-sm-5 margin-top-15">
                <p ng-show="tenantForm.playerContentUrl.$invalid && !tenantForm.playerContentUrl.$pristine"
                   class="help-block">
                  Player content URL must be a secure https URL.
                </p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5">
                <label>Default timezone</label>
                <select id="timezone"
                        ng-model="tenantAddCtrl.selectedTimezone"
                        class="form-control"
                        ng-options="item for item in tenantAddCtrl.timezones track by item">
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5">
                <label>Notification emails</label>
                <input type="text"
                       class="form-control"
                       name="notificationEmails"
                       id="notificationEmails"
                       placeholder="Enter comma-delimited emails"
                       ng-model="tenantAddCtrl.currentTenant.notification_emails">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="checkbox"
                       name="proofOfPlayLogging"
                       id="proofOfPlayLogging"
                       ng-model="tenantAddCtrl.currentTenant.proof_of_play_logging"> <label>
                Proof of play logging</label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="checkbox"
                       id="active"
                       ng-model="tenantAddCtrl.currentTenant.active"> <label
                for="active">Active</label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <input type="checkbox"
                       id="ou_create"
                       ng-model="tenantAddCtrl.currentTenant.ou_create"> <label
                for="active">Create Organization Unit in Chrome Device Management</label>
              </div>
            </div>
            <md-card-actions layout="row" layout-align="center">
              <md-button type="button" class="md-raised" ng-click="tenantAddCtrl.cancel()">
                Cancel
              </md-button>
              <md-button type="submit" ng-disabled="tenantForm.$invalid" class="md-raised md-primary">
                <i class="fa fa-fw fa-save"></i> Save
              </md-button>
            </md-card-actions>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
