<div ng-controller="TenantManagedDevicesCtrl" layout="column" ng-cloak>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><i class="fa fa-fw fa-group ng-scope"></i> Tenants</h2>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <div flex="80" flex-xs="100" layout="column">
      <div ncy-breadcrumb></div>
    </div>
    <md-tabs md-stretch-tabs md-selected="tabIndex">
      <md-tab label="General"></md-tab>
      <md-tab label="Managed Devices"></md-tab>
      <md-tab label="Unmanaged Devices"></md-tab>
      <md-tab label="Locations"></md-tab>
    </md-tabs>
    <div flex="100" flex-sm="100" flex-xs="100" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ tenantManagedDevicesCtrl.currentTenant.name }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <table class="table table-responsive table-striped">
            <thead>
            <tr>
              <th></th>
              <th><i class="fa fa-fw fa-wifi"></i> MAC</th>
              <th><i class="fa fa-fw fa-plug"></i> MAC</th>
              <th>Serial number</th>
              <th>Provisioned</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="tenantManagedDevicesCtrl.tenantDevices.length">
              <td colspan="6" class="text-center text-danger">
                No managed devices retrieved for {{ tenantManagedDevicesCtrl.currentTenant.name }}.
              </td>
            </tr>
            <tr ng-repeat="item in tenantManagedDevicesCtrl.tenantDevices | orderBy:'-created' ">
              <td>
                <a ng-click="tenantManagedDevicesCtrl.editItem(item)"
                   title="Device detail">
                  <ng-md-icon icon="mode_edit" size="48"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25z"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path></svg></ng-md-icon>
                </a>
              </td>
              <td>{{ item.macAddress }}</td>
              <td>{{ item.ethernetMacAddress }}</td>
              <td>
                <a name="edit-device" class="btn" ng-click="tenantManagedDevicesCtrl.editItem(item)"
                   title="Device detail">{{item.serialNumber}}</a>
              </td>
              <td>{{ item.created }}</td>
              <td class="up-{{ item.up}}-background"></td>
            </tr>
            </tbody>
          </table>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
