<div id="wrapper" ng-init="tenantsCtrl.initialize()">

  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <div ncy-breadcrumb></div>
          <h1 class="page-header">
            Tenants
          </h1>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-12 toolbar">
            <a id="button-add-tenant"
               class="btn btn-success"
               href="#/tenants/new"><i class="fa fa-fw fa-plus"></i> Add tenant</a>
          </div>
          <table name="tenant-table" class="table table-bordered table-responsive table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Tenant code</th>
              <th>Email</th>
              <th>Content Server URL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="tenantsCtrl.tenants.length">
              <td class="no-devices text-center text-danger" colspan="4">No tenants</td>
            </tr>
            <tr ng-repeat="item in tenantsCtrl.tenants | orderBy:'name' ">
              <td class="tenant-name"><a name="edit-tenant" class="btn"
                                         ng-click="tenantsCtrl.editItem(item)"
                                         title="Edit tenant">{{item.name}}</a></td>
              <td class="tenant-name">{{item.tenant_code}}</td>
              <td class="tenant-admin-email">{{item.admin_email}}</td>
              <td class="content-server-url">{{item.content_server_url}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
