<div ng-controller="TenantManagedDevicesCtrl as vm" layout="column" ng-cloak>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 class="md-flex"><i class="fa fa-fw fa-group ng-scope"></i> Tenants</h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <div flex="80" flex-xs="100" layout="column">
            <div ncy-breadcrumb></div>
        </div>
        <md-tabs md-dynamic-height md-selected="tabIndex" md-border-bottom>
            <md-tab label="General"></md-tab>
            <md-tab label="Managed Devices"></md-tab>
            <md-tab label="Unmanaged Devices"></md-tab>
            <md-tab label="Locations"></md-tab>
        </md-tabs>
        <div flex="100" flex-sm="100" flex-xs="100" layout="column">
            <md-card>
                <md-card-content>
                    <div class="col-md-12">
                        <div class="col-sm-3">
                            <md-button class="md-raised"
                                       ng-disabled="!vm.devicesPrev"
                                       ng-click="vm.paginateCall(false)">
                                Prev
                            </md-button>
                            <md-button class="md-raised"
                                       ng-disabled="!vm.devicesNext"
                                       ng-click="vm.paginateCall(true)">
                                Next
                            </md-button>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            <md-radio-group ng-model="vm.selectedButton"
                                            ng-change="vm.changeRadio()"
                                            class="radio-horizontal">

                                <div class="col-md-4">
                                    <md-radio-button value="Serial Number"
                                                     class="md-primary">
                                        Serial Number
                                    </md-radio-button>
                                </div>

                                <div class="col-md-2 col-md-offset-2">

                                    <md-radio-button
                                            value="MAC"
                                            class="md-primary radio-button">
                                        MAC
                                    </md-radio-button>
                                </div>
                            </md-radio-group>
                        </div>
                        <div class="col-md-3">
                            <md-autocomplete
                                    md-no-cache="true"
                                    md-selected-item="vm.selectedItem"
                                    md-search-text="vm.searchText"
                                    md-items="item in vm.searchDevices(vm.searchText)"
                                    md-item-text="item"
                                    md-min-length="0"
                                    md-search-text-change="vm.isResourceValid(vm.searchText)"
                                    md-selected-item-change="vm.isResourceValid(vm.searchText)"
                                    placeholder="Make A Search">

                                <md-item-template>
                                                        <span md-highlight-text="vm.searchText"
                                                              md-highlight-flags="^i">{{item}}</span>
                                </md-item-template>
                                <md-not-found>
                                    <div ng-if="vm.searchText !== '' && vm.searchText.length > 2">
                                        No results for "{{vm.searchText}}" were
                                        found.
                                    </div>
                                    <div
                                            ng-if="vm.searchText !== '' && vm.searchText.length <= 2">
                                        Please enter at least 3 characters.
                                    </div>
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="col-md-1"
                             style="margin-left: -20px !important; margin-top: -4px !important">
                            <md-button class="md-raised md-primary"
                                       ng-disabled="vm.disabled"
                                       ng-click="vm.prepareForEditView(vm.searchText)">
                                OPEN
                            </md-button>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>

                <md-card-content>
                    <table class="table table-responsive table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th><i class="fa fa-fw fa-wifi"></i> MAC</th>
                            <th><i class="fa fa-fw fa-plug"></i> MAC</th>
                            <th>Serial number</th>
                            <th>Provisioned</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-hide="vm.tenantDevices.length">
                            <td colspan="6" class="text-center text-danger">
                                No managed devices retrieved for {{ vm.currentTenant.name }}.
                            </td>
                        </tr>
                        <tr ng-repeat="item in vm.tenantDevices | orderBy:'-created' "
                            ng-click="vm.editItem(item)">
                            <td>
                                <a ng-click="vm.editItem(item)" class="md-primary md-ink-ripple"
                                   title="Device detail">
                                    <ng-md-icon icon="mode_edit" size="48">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                             height="24">
                                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25z"></path>
                                            <path
                                                    d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
                                        </svg>
                                    </ng-md-icon>
                                </a>
                            </td>
                            <td>{{ item.macAddress }}</td>
                            <td>{{ item.ethernetMacAddress }}</td>
                            <td>
                                <a name="edit-device" class="md-primary md-ink-ripple"
                                   ng-click="vm.editItem(item)"
                                   title="Device detail">{{item.serialNumber}}</a>
                            </td>
                            <td>{{ item.created }}</td>
                            <td class="up-{{ item.up}}-background"></td>
                        </tr>
                        </tbody>
                    </table>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
