<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl as navbarCtrl"
     ng-init="navbarCtrl.initialize()">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/welcome"><img src="assets/images/skykit_logo2.png"></a>
    <div style="color:white; float:right;">{{ navbarCtrl.identity.distributor }} - {{ navbarCtrl.identity.email }}(
      {{ navbarCtrl.identity.key }})
    </div>

  </div>

  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li>
        <a id="navbar-tenants" href="#/tenants"><i class="fa fa-fw fa-users"></i> Tenants</a>
      </li>
      <li>
        <a id="navbar-devices" href="#/devices"><i class="fa fa-fw fa-desktop"></i> Devices</a>
      </li>
      <li>
        <a id="navbar-domains" href="#/domains"><i class="fa fa-fw fa-desktop"></i> Domains</a>
      </li>
      <li>
        <a id="navbar-logout" href="#/sign_out"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
      </li>
      <li>
        <a id="navbar-version" href="#/version"><i class="fa fa-fw fa-tag"></i> Version</a>
      </li>
    </ul>
  </div>
</nav>
