<div layout="column" ng-cloak ng-init="domainDetailsCtrl.initialize()">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><i class="fa fa-fw fa-cube ng-scope"></i> Domain</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <div flex="80" layout="column">
      <div ncy-breadcrumb></div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex="40">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Domain</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <form name="domainForm" class="form-horizontal" ng-submit="domainDetailsCtrl.onSaveDomain()" novalidate>
              <div class="row">
                <div ng-if="domainDetailsCtrl.editMode == false">
                  <div class="col-sm-4">
                    <label for="domainName">Name</label>
                    <div ng-class="{ 'has-error' : domainForm.domainName.$invalid && !domainForm.domainName.$pristine}">
                      <input type="text"
                             class="form-control"
                             id="domainName"
                             name="domainName"
                             ng-model="domainDetailsCtrl.currentDomain.name"
                             pattern="^[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,6}$"
                             style="width:320px"
                             tooltips
                             tooltip-side="right"
                             tooltip-template-url="webapp/src/app/tooltip/domains/domain-name.html"
                             required>
                    </div>
                    <div ng-show="domainForm.domainName.$error.required && !domainForm.domainName.$pristine"
                         style="white-space: nowrap">
                      Required field.
                    </div>
                    <div ng-show="domainForm.domainName.$error.pattern" style="white-space: nowrap">
                      Must be a valid domain name.
                    </div>
                  </div>
                </div>
                <div ng-if="domainDetailsCtrl.editMode == true">
                  <div class="col-sm-4">
                    <div>
                      <label>Name</label>
                    </div>
                    <div>
                      {{domainDetailsCtrl.currentDomain.name}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row margin-top-15">
                <div ng-if="domainDetailsCtrl.editMode == false">
                  <div class="col-sm-3">
                    <label for="impersonationEmail" style="white-space: nowrap;">Impersonation Email</label>
                    <div
                      ng-class="{ 'has-error' : domainForm.impersonationEmail.$invalid && !domainForm.impersonationEmail.$pristine}">
                      <input type="email"
                             class="form-control"
                             id="impersonationEmail"
                             name="impersonationEmail"
                             ng-model="domainDetailsCtrl.currentDomain.impersonation_admin_email_address"
                             style="width:320px"
                             tooltips
                             tooltip-side="right"
                             tooltip-size="large"
                             tooltip-template-url="webapp/src/app/tooltip/domains/impersonation-email.html"
                             required>
                    </div>
                    <div
                      ng-show="domainForm.impersonationEmail.$error.required && !domainForm.impersonationEmail.$pristine"
                      style="white-space: nowrap">
                      Required field.
                    </div>
                    <div ng-show="domainForm.impersonationEmail.$error.email" style="white-space: nowrap">
                      Must be a valid email.
                    </div>
                  </div>
                </div>
                <div ng-if="domainDetailsCtrl.editMode == true">
                  <div class="col-sm-4">
                    <div>
                      <label style="white-space: nowrap;">Impersonation Email</label>
                    </div>
                    <div>
                      {{domainDetailsCtrl.currentDomain.impersonation_admin_email_address}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row margin-top-15">
                <div ng-if="domainDetailsCtrl.editMode == false">
                  <div class="col-sm-3">
                    <div>
                      <label for="organizationUnitPath">Organization Unit Path</label>
                    </div>
                    <div
                      ng-class="{ 'has-error' : domainForm.organizationUnitPath.$invalid && !domainForm.organizationUnitPath.$pristine}">
                      <input type="text"
                             class="form-control"
                             width="500px"
                             id="organizationUnitPath"
                             name="organizationUnitPath"
                             ng-model="domainDetailsCtrl.currentDomain.organization_unit_path"
                             style="width:320px"
                             pattern="^(.*?)\/skykit"
                             tooltips
                             tooltip-side="right"
                             tooltip-size="large"
                             tooltip-template-url="webapp/src/app/tooltip/domains/ou-path.html"
                             required>
                    </div>
                    <div
                      ng-show="domainForm.organizationUnitPath.$error.required && !domainForm.organizationUnitPath.$pristine"
                      style="white-space: nowrap">
                      Required field.
                    </div>
                    <div ng-show="domainForm.organizationUnitPath.$error.pattern" style="white-space: nowrap">
                      Must end with <code>/skykit</code>
                    </div>
                  </div>
                </div>
                <div ng-if="domainDetailsCtrl.editMode == true">
                  <div class="col-sm-4">
                    <div>
                      <label style="white-space: nowrap;">Organization Unit Path</label>
                    </div>
                    <div>
                      {{domainDetailsCtrl.currentDomain.organization_unit_path}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="margin-top-25 col-sm-3">
                  <input type="checkbox"
                         id="active"
                         ng-model="domainDetailsCtrl.currentDomain.active">
                  <label for="active">Active</label>
                </div>
              </div>
              <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary md-button md-ink-ripple"
                           type="submit"
                           ng-disabled="(!domainForm.$dirty && !domainDetailsCtrl.editMode) || domainForm.$invalid">
                  <i class="fa fa-fw fa-save"></i> Save
                </md-button>
              </md-card-actions>
            </form>
          </md-card-content>
          </form>
        </md-card>
      </div>
      <div flex="50" ng-if="domainDetailsCtrl.editMode == true">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Chrome Directory API</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div layout="row" class="margin-top-15">
              <div class="col-sm-offset-1 col-sm-4">
                <label style="white-space: nowrap;">Device Management</label>
              </div>
              <div class="col-sm-1">
                <i name="devicesConnectivity" ng-show="domainDetailsCtrl.devicesAccess==true"
                   style="color:green"
                   class="fa fa-fw fa-check-circle fa-2x"></i>
                <i name="devicesConnectivity" ng-show="domainDetailsCtrl.devicesAccess==false"
                   style="color:red"
                   class="fa fa-fw fa-stop-circle fa-2x"></i>
              </div>
              <div class="col-sm-7">
                {{domainDetailsCtrl.devicesAccessException}}
              </div>
            </div>
            <div layout="row" class="margin-top-15">
              <div class="col-sm-offset-1 col-sm-4">
                <label style="white-space: nowrap;">Org Unit Management</label>
              </div>
              <div class="col-sm-1">
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.orgUnitsAccess==true"
                   style="color:green"
                   class="fa fa-fw fa-check-circle fa-2x"></i>
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.orgUnitsAccess==false"
                   style="color:red"
                   class="fa fa-fw fa-stop-circle fa-2x"></i>
              </div>
              <div class="col-sm-7">
                {{domainDetailsCtrl.orgUnitsAccessException}}
              </div>
            </div>
            <div layout="row" class="margin-top-15 margin-bottom-15">
              <div class="col-sm-offset-1 col-sm-4">
                <label style="white-space: nowrap;">Users Management</label>
              </div>
              <div class="col-sm-1">
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.usersAccess==true"
                   style="color:green"
                   class="fa fa-fw fa-check-circle fa-2x"></i>
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.usersAccess==false"
                   style="color:red"
                   class="fa fa-fw fa-stop-circle fa-2x"></i>
              </div>
              <div class="col-sm-7">
                {{domainDetailsCtrl.usersAccessException}}
              </div>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </md-content>
</div>
