<div layout="column" ng-cloak ng-init="domainDetailsCtrl.initialize()">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><i class="fa fa-fw fa-cube ng-scope"></i> Domain</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <div flex="80" flex-xs="100" layout="column">
      <div ncy-breadcrumb></div>
    </div>
    <div flex="80" flex-xs="100" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Domain</span>
          </md-card-title-text>
        </md-card-title>
        <form name="domainForm"
              class="form-horizontal"
              ng-submit="domainDetailsCtrl.onSaveDomain()"
              novalidate>
          <md-card-content>
            <div class="form-group"
                 ng-class="{ 'has-error' : domainForm.name.$invalid && !domainForm.name.$pristine }">
              <label for="domainName" class="col-sm-3 control-label">Name</label>

              <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       name="domainName"
                       id="domainName"
                       ng-readonly="domainDetailsCtrl.editMode"
                       ng-model="domainDetailsCtrl.currentDomain.name" required>
              </div>
              <div class="col-sm-5">
                <p ng-show="domainForm.name.$invalid && !domainForm.name.$pristine"
                   class="help-block">
                  The name is required.
                </p>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : domainForm.impersonation_admin_email_address.$invalid && !domainForm.impersonation_admin_email_address.$pristine }">
              <label for="impersonationAdminEmailAddress" class="col-sm-3 control-label">Impersonation
                email</label>

              <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       name="impersonationAdminEmailAddress"
                       id="impersonationAdminEmailAddress"
                       ng-readonly="domainDetailsCtrl.editMode"
                       ng-model="domainDetailsCtrl.currentDomain.impersonation_admin_email_address"
                       required>
              </div>
              <div class="col-sm-5">
                <p
                  ng-show="domainForm.impersonationAdminEmailAddress.$invalid && !domainForm.impersonationAdminEmailAddress.$pristine"
                  class="help-block">
                  The impersonation email is required.
                </p>
              </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : domainForm.organization_unit_path.$invalid }">
              <label for="organizationUnitPath" class="col-sm-3 control-label">Organization Unit Path</label>
              <div class="col-sm-4">
                <input type="text"
                       class="form-control"
                       name="organizationUnitPath"
                       id="organizationUnitPath"
                       ng-model="domainDetailsCtrl.currentDomain.organization_unit_path"
                       ng-readonly="domainDetailsCtrl.editMode"
                       required>
              </div>
              <div class="col-sm-5">
                <p
                  ng-show="domainForm.organization_unit_path.$invalid && !domainForm.name.$pristine"
                  class="help-block">
                  Invalid Organization Unit Path.
                </p>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <input type="checkbox"
                       id="active"
                       ng-model="domainDetailsCtrl.currentDomain.active"> <label
                for="active">Active</label>
              </div>
            </div>
            <div class="form-group" ng-show="domainDetailsCtrl.editMode==true">
              <label class="col-sm-3 control-label">Device Management</label>
              <div class="col-sm-6">
                <i name="devicesConnectivity" ng-show="domainDetailsCtrl.devicesAccess==true"
                   style="color:green"
                   class="fa fa-fw fa-check-circle fa-2x"></i>
                <i name="devicesConnectivity" ng-show="domainDetailsCtrl.devicesAccess==false"
                   style="color:red"
                   class="fa fa-fw fa-stop-circle fa-2x"></i> {{domainDetailsCtrl.devicesAccessException}}
              </div>
            </div>
            <div class="form-group" ng-show="domainDetailsCtrl.editMode==true">
              <label class="col-sm-3 control-label">Org Unit Management</label>
              <div class="col-sm-6">
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.orgUnitsAccess==true"
                   style="color:green"
                   class="fa fa-fw fa-check-circle fa-2x"></i>
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.orgUnitsAccess==false"
                   style="color:red"
                   class="fa fa-fw fa-stop-circle fa-2x"></i> {{domainDetailsCtrl.orgUnitsAccessException}}
              </div>
            </div>
            <div class="form-group" ng-show="domainDetailsCtrl.editMode==true">
              <label class="col-sm-3 control-label">Users Management</label>
              <div class="col-sm-6">
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.usersAccess==true"
                   style="color:green"
                   class="fa fa-fw fa-check-circle fa-2x"></i>
                <i name="orgUnitsConnectivity" ng-show="domainDetailsCtrl.usersAccess==false"
                   style="color:red"
                   class="fa fa-fw fa-stop-circle fa-2x"></i> {{domainDetailsCtrl.usersAccessException}}
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary md-button md-ink-ripple"
                       type="submit" ng-disabled="!domainForm.$dirty || domainForm.$invalid">
              <i class="fa fa-fw fa-save"></i> Save
            </md-button>
          </md-card-actions>
        </form>
      </md-card>
    </div>
  </md-content>
</div>
