<div ng-controller="DomainsCtrl" ng-init="domainsCtrl.initialize()" layout="column" ng-cloak>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 class="md-flex"><i class="fa fa-fw fa-cube ng-scope"></i> Domains</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <div class="row">
      <div class="col-lg-12">
        <div class="toolbar">
          <a id="button-add-domain"
             class="btn btn-success"
             href="#/domains/new"><i class="fa fa-fw fa-plus"></i> Add domain</a>
        </div>
        <table class="table table-bordered table-responsive table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Impersonation Admin Email</th>
            <th>Created</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="domainsCtrl.domains.length">
            <td class="no-devices text-center text-danger" colspan="4">No domains</td>
          </tr>
          <tr ng-repeat="item in domainsCtrl.domains | orderBy:'-created'">
            <td class="domain-key"><a name="edit-domain" class="btn"
                                      ng-click="domainsCtrl.editItem(item)"
                                      title="Edit domain">{{item.name}}</a></td>
            <td class="domain-impersonation-admin-email-address">{{item.impersonation_admin_email_address}}</td>
            <td class="domain-created">{{item.created}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </md-content>
</div>
