<div id="wrapper" ng-init="remoteControlCtrl.initialize()">
  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <div ncy-breadcrumb></div>
          <h1 class="page-header">
            Remote control
          </h1>
        </div>
      </div>

      <form name="resetForm"
            class="form-horizontal"
            ng-submit="remoteControlCtrl.onClickResetSendButton()"
            novalidate>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-1">
              <label>Reset:</label>
            </div>
            <div class="col-xs-2">
              <button type="submit"
                      class="btn btn-primary btn-default"><i class="fa fa-fw fa-building"></i>
                Send
              </button>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <form name="volumeForm"
            class="form-horizontal"
            ng-submit="remoteControlCtrl.onClickVolumeSendButton()"
            novalidate>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
              <label for="volume">Volume (1-100):</label>
            </div>
            <div class="col-xs-2">
              <input type="number"
                     class="form-control"
                     name="volume"
                     id="volume"
                     ng-model="RemoteControlCtrl.currentDevice.volume"
                     min="1"
                     max="100"
                     ngMinlength="1"
                     ngMaxlength="3"
                     maxlength="3"
                     ng-pattern="/^[1-100]{1,3}$/">
            </div>
            <div class="col-xs-2">
              <button type="submit"
                      class="btn btn-primary btn-default"
                      ng-disabled="!volumeForm.$dirty || volumeForm.$invalid"><i class="fa fa-fw fa-building"></i>
                Send
              </button>
            </div>
          </div>
        </div>
      </form>
      <form name="customForm"
            class="form-horizontal"
            ng-submit="remoteControlCtrl.onClickCustomSendButton()"
            novalidate>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
              <label for="volume">Custom command:</label>
            </div>
            <div class="col-xs-2">
              <input type="text"
                     class="form-control"
                     name="custom"
                     id="custom"
                     ng-model="RemoteControlCtrl.currentDevice.custom">
            </div>
            <div class="col-xs-2">
              <button type="submit"
                      class="btn btn-primary btn-default"
                      ng-disabled="!customForm.$dirty || customForm.$invalid"><i class="fa fa-fw fa-building"></i>
                Send
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
